@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  /* main purple color */
  --mainPurple: #5f13c5;
  --mainPurpleDark: #4b0f9b;

  /* for navbar */
  --navbarBg: white;

  /* for text */
  --textColor: black;
  --greyText: rgb(75 85 99);
  --activeText: white;
  --purpleText: #5f13c5;

  /* sidebar */
  --sidebarBg: white;
  --sidebarLinksHover: rgb(229 231 235);
  --grayCard: #e9e9e9;

  /* dashboard */
  --dashboardBg: #e7effe;

  /* cards */
  --whiteCard: white;
  --whiteCardHover: rgb(248, 248, 248);

  /* input */
  --inputBg: white;
}

.dark {
  /* for navbar */
  --navbarBg: #000000;

  /* for text */
  --textColor: rgb(226, 225, 225);
  --greyText: rgb(151, 159, 170);
  --activeText: white;
  --purpleText: #ba8df5;

  /* sidebar */
  --sidebarBg: black;
  --sidebarLinksHover: #6d6d6d;
  --grayCard: #e9e9e9;

  /* dashboard */
  --dashboardBg: #303030;

  /* cards */
  --whiteCard: rgb(22, 22, 22);
  --whiteCardHover: rgb(36, 36, 36);

  /* input */
  --inputBg: #303030;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5f13c5;
  cursor: pointer;
  /* border-radius: 10px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5f13c5;
}

@media (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }

  ::-webkit-scrollbar-track {
    display: none;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    display: none;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    display: none;
  }
}

.gradient-background {
  background: rgb(149, 19, 197);
  background: linear-gradient(171deg,
      rgba(149, 19, 197, 1) 0%,
      rgba(95, 19, 197, 1) 100%);
}


input[type="range"] {
  margin-left: 0px !important;
}